<!DOCTYPE html>
<html lang="ua">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Invest | Course Work</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__body">
					<a href="/" class="header__logo">
						<img src="/images/logo.svg" alt="logo">
					</a>
					<nav class="header__menu menu">
						<ul class="menu__list">
							<li class="menu__item">
								<a href="/" class="menu__link">Компанія</a>
							</li>
							<li class="menu__item">
								<a href="/services" class="menu__link">Наші послуги</a>
							</li>
						</ul>
					</nav>
					<div class="header__actions">
						<a href="/orders" class="header__profile">
							<img src="/images/icons/user.svg" alt="user icon">
						</a>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<section class="hero">
				<div class="hero__container">
					<div class="hero__body">
						<h1 class="hero__title">Вітаємо вас в світі інвестицій та фінансового прогресу! </h1>
						<p class="hero__text"><span>Компанія ProInvest</span> — це інноваційний лідер у сфері інвестицій,
							створений з метою
							надання найкращих можливостей для вашого фінансового зростання та успіху.</p>
					</div>
				</div>
				<div class="hero__bg">
					<img src="/images/hero-bg.jpg" alt="hero background image">
				</div>
			</section>
			<section class="about-us">
				<div class="about-us__container">
					<div class="about-us__body">
						<div class="about-us__left">
							<h2 class="about-us__title title">ХТО МИ?</h2>
						</div>
						<div class="about-us__right">
							<p class="about-us__text">
								ProInvest є командою професіоналів, об'єднаних загальною метою — допомогти вам досягти ваших фінансових цілей та забезпечити стабільний та прибутковий розвиток вашого капіталу. Ми віримо в те, що інновації, екологічна відповідальність та особистий підхід — ключові складові успіху будь-якого інвестора.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="analytics">
				<div class="analytics__container">
					<div class="analytics__body">
						<h2 class="analytics__title">10 років досвіду у різних справах</h2>
						<p class="analytics__text"><span>Компанія ProInvest</span> — це інноваційний лідер у сфері інвестицій, створений з метою надання найкращих можливостей для вашого фінансового зростання та успіху.</p>
						<div class="analytics__stat stat">
							<div class="stat__column">
								<div class="stat__value">2013</div>
								<div class="stat__text">Засновано</div>
							</div>
							<div class="stat__column">
								<div class="stat__value">319</div>
								<div class="stat__text">Виграних справ</div>
							</div>
							<div class="stat__column">
								<div class="stat__value">45+</div>
								<div class="stat__text">Партнерів</div>
							</div>
							<div class="stat__column">
								<div class="stat__value">1200</div>
								<div class="stat__text">Довіряючі клієнти</div>
							</div>
						</div>
					</div>
				</div>
				<div class="analytics__bg">
					<img src="/images/analytics-bg.jpg" alt="analytics bg image">
				</div>
			</section>
			<section class="why-us">
				<div class="why-us__container">
					<h2 class="why-us__title title">Чому варто обрати ProInvest</h2>
					<div class="why-us__body why-us-body">
						<div class="why-us-body why-us-body__column">
							<h3 class="why-us-body__title">Надійність</h3>
							<p class="why-us-body__descr">Професійна історія успіху</p>
						</div>
						<div class="why-us-body why-us-body__column">
							<h3 class="why-us-body__title">Інновації</h3>
							<p class="why-us-body__descr">Передові технології в галузі інвестування</p>
						</div>
						<div class="why-us-body why-us-body__column">
							<h3 class="why-us-body__title">Результати</h3>
							<p class="why-us-body__descr">Передові технології в галузі інвестування</p>
						</div>
						<div class="why-us-body why-us-body__column">
							<h3 class="why-us-body__title">Експертиза</h3>
							<p class="why-us-body__descr">Досвідчені аналітики та фінансові спеціалісти</p>
						</div>
						<div class="why-us-body why-us-body__column">
							<h3 class="why-us-body__title">Прозорість</h3>
							<p class="why-us-body__descr">Чесні та зрозумілі умови інвестування</p>
						</div>
						<div class="why-us-body why-us-body__column">
							<h3 class="why-us-body__title">Кастомізація</h3>
							<p class="why-us-body__descr">Персоналізовані стратегії для кожного клієнта</p>
						</div>
					</div>
				</div>
			</section>
			<section class="mission">
				<div class="mission__container">
					<h2 class="mission__title title">Місія компанії</h2>
					<p class="mission__text">У ProInvest ми прагнемо бути провідною інвестиційною компанією, що надає нашим клієнтам інноваційні та надійні стратегії для досягнення стабільного фінансового зростання. Наша місія надихається бажанням створити сприятливе середовище для процвітання наших клієнтів, забезпечуючи при цьому безпеку та прозорість на кожному етапі нашої діяльності.</p>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__body">
					<div class="footer__years-work">&copy; 2013-2023 ProInvest</div>
					<address class="footer__address">
						м. Одеса, вул. Кришталева, 7, оф. 23
					</address>
					<address class="footer__contacts">
						<a href="tel:+380631234567" class="footer__phone">+380 63 123 4567</a>
						<a href="mailto:ProInvest@mail.com" class="footer__mail">ProInvest@mail.com</a>
					</address>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>